.baseDiv {
  width: 200px;
  height: 200px;
  background: #333;
  margin: 5px;
  transition: all 1s ease;
  transform: translateY(-200%);
  position: absolute;
}
.showDiv {
  transform: translateY(0%);
}

.secondDiv {
  transition: all 1s ease;
  transform: translateY(0%);
}
.secondDiv.showDiv {
  transform: translateY(105%);
}
